Repository ShaniecePinnockGL/argocd-app, changes with the labels that .github/labeler.yml gives for each.
All labels: greenlight, krona, operations, nonprod, prod, ci

ci: fix npmrc location (#355)
  .github/script/setup_npm.sh
  .github/workflows/argo-cd-diff.yaml
  .github/workflows/drift-notifier.yaml
  .github/workflows/pr-changelog.yaml
Labels: ci

Fix spacing for account-history jobs (#356)
  krona/values-uat.yaml
Labels: krona, prod

feat: adding RT deployments to ops cluster (TOOLS-94) (#357)
  operations/values.yaml
Labels: operations

ci: add linting for the scripts (#360)
  .github/script/.eslintignore
  .github/script/.eslintrc.json
  .github/script/.gitignore
  .github/script/.prettierrc.js
  .github/script/cmd/argodiff.ts
  .github/script/cmd/changelog.ts
  .github/script/cmd/drift.ts
  .github/script/lib/argo.ts
  .github/script/lib/common.ts
  .github/script/lib/git.ts
  .github/script/lib/github.ts
  .github/script/lib/helm.ts
  .github/script/lib/slack.ts
  .github/script/lib/util.ts
  .github/script/package-lock.json
  .github/script/package.json
  .github/script/tsconfig.json
  .github/workflows/argo-cd-diff.yaml
  .github/workflows/drift-notifier.yaml
  .github/workflows/pr-changelog.yaml
Labels: ci

chore: remove trailing / (#361)
  operations/values.yaml
Labels: operations

Only send credentials to our helm repos (#359)
  .github/script/.npmrc
  .github/script/cmd/argodiff.ts
  .github/script/lib/helm.ts
Labels: ci

chore: test notifications (#363)
  krona/values-devinternal.yaml
Labels: krona, nonprod

chore: test notifications (#364)
  krona/values-devinternal.yaml
Labels: krona, nonprod

chore(krona-devinternal): turn back on syncPolicy (#365)
  krona/values-devinternal.yaml
Labels: krona, nonprod

chore: remove jfrog products other than RT (TOOLS-94) (#362)
  operations/values.yaml
Labels: operations

ci: update cache path (#366)
  .github/workflows/argo-cd-diff.yaml
  .github/workflows/drift-notifier.yaml
  .github/workflows/pr-changelog.yaml
Labels: ci

chore: Test github dispatch webhook notifcation trigger (#367)
  gl/values-dev.yaml
Labels: greenlight, nonprod

ci: krona-deploy-prod-06192021 (#354)
  krona/values-prod.yaml
Labels: krona, prod

chore: update spend-rule in qa2 (#370)
  krona/values-qa2.yaml
Labels: krona, nonprod

Update version for spending-rules (#371)
  krona/values-uat.yaml
Labels: krona, prod

Update spending-rules version (#372)
  krona/values-prod.yaml
Labels: krona, prod

version update (#375)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Update values-prod.yaml (#374)
  krona/values-prod.yaml
Labels: krona, prod

chore: updating RT to HA and adding secrets (#368)
  operations/values.yaml
Labels: operations

Fix changelog when there is only one commit for an author (#377)
  .github/script/cmd/changelog.ts
Labels: ci

chore: removing the RT keys (#378)
  operations/values.yaml
Labels: operations

prod 3.7.1372-afd07f7 (#376)
  gl/values-prod.yaml
Labels: greenlight, prod

test: GLPS-1242 shadow traffic to charge (#352)
  gl/values-dev.yaml
Labels: greenlight, nonprod

Argo Diff Bugfixes (#379)
  .github/script/cmd/argodiff.ts
  .github/script/cmd/changelog.ts
  .github/script/lib/argo.ts
  .github/script/lib/github.ts
  .github/script/lib/helm.ts
  .github/script/lib/util.ts
  .github/workflows/argo-cd-diff.yaml
Labels: ci

Update perf with account-history hotfix (#382)
  krona/values-perf.yaml
Labels: krona, nonprod

deploy server-api qa 3.7.1384 (#381)
  gl/values-qa.yaml
Labels: greenlight, nonprod

Update values-prod.yaml (#384)
  krona/values-prod.yaml
Labels: krona, prod

Update values-prod.yaml (#385)
  gl/values-prod.yaml
Labels: greenlight, prod

Deploy latest version of server-api to stage (#386)
  gl/values-stage.yaml
Labels: greenlight, nonprod

upgrade server-api QA to 3.7.1385 (#388)
  gl/values-qa.yaml
Labels: greenlight, nonprod

Add "appRevision" annotation to apps (#351)
  appofapp/templates/application.yaml
Labels: none

Update values-prod.yaml (#392)
  krona/values-prod.yaml
Labels: krona, prod

Fix version in krona-perf
  krona/values-perf.yaml
Labels: krona, nonprod

Revert "Add "appRevision" annotation to apps" (#394)
  appofapp/templates/application.yaml
Labels: none

Rollback account-history in perf to what it is in prod (#395)
  krona/values-perf.yaml
Labels: krona, nonprod

deploy latest to qa for server-api and commander (#393)
  gl/values-qa.yaml
Labels: greenlight, nonprod

chore: Add new values-gremlin.yaml file (#380)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Bump invest and SGW (#396)
  gl/values-stage.yaml
Labels: greenlight, nonprod

chore: update services qa environment (#398)
  krona/values-qa.yaml
Labels: krona, nonprod

Update account-history in perf with latest perf tweaks (#397)
  krona/values-perf.yaml
Labels: krona, nonprod

.github/labeler.yml:

greenlight:
  - gl/*

krona:
  - krona/*

operations:
  - operations/values.yaml

nonprod:
  - gl/values.yaml
  - gl/values-dev.yaml
  - gl/values-platdev.yaml
  - gl/values-qa.yaml
  - gl/values-stage.yaml
  - krona/values.yaml
  - krona/values-devinternal.yaml
  - krona/values-qainternal.yaml
  - krona/values-dev.yaml
  - krona/values-qa.yaml
  - krona/values-qa2.yaml
  - krona/values-perf.yaml

prod:
  - gl/values.yaml
  - gl/values-prod.yaml
  - krona/values.yaml
  - krona/values-uat.yaml
  - krona/values-prod.yaml

ci:
  - .github/**/*
