Repository ShaniecePinnockGL/argocd-app, changes with the labels that .github/labeler.yml gives for each.
All labels: greenlight, krona, operations, nonprod, prod, ci

ci: change slack color (#458)
  .github/script/cmd/on-deployed.ts
Labels: ci

Nump reg service version in stage. (#459)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Msb fix 1mil2 (#460)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Msb fix 1mil3 (#461)
  gl/values-stage.yaml
Labels: greenlight, nonprod

deploy latest user action to stage (#463)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Bump qa version (#464)
  gl/values-qa.yaml
Labels: greenlight, nonprod

Update values-qa.yaml (#462)
  gl/values-qa.yaml
Labels: greenlight, nonprod

Bump reg version in stage. (#466)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Bump reg service in stage. (#467)
  gl/values-stage.yaml
Labels: greenlight, nonprod

release user-action in stage (#468)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Bump identity prefill in stage. (#469)
  gl/values-stage.yaml
Labels: greenlight, nonprod

msb-partMil5 (#470)
  gl/values-stage.yaml
Labels: greenlight, nonprod

server-api hotfix (#471)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Revert "server-api hotfix (#471)" (#472)
  gl/values-stage.yaml
Labels: greenlight, nonprod

updated version of server-api stage to include fraud freeze rule changes (#476)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Upgrade Staging env (#474)
  gl/values-stage.yaml
Labels: greenlight, nonprod

hotfix for icp issues (#477)
  gl/values-qa.yaml
Labels: greenlight, nonprod

Mars deploy icp hotfix to qa (#478)
  gl/values-prod.yaml
Labels: greenlight, prod

put hotfix onstage (#479)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Pushes 1.0.695 to stage in sgw (#475)
  gl/values-stage.yaml
Labels: greenlight, nonprod

deploy latest user action to stage (#480)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Revert "Pushes 1.0.695 to stage in sgw (#475)" (#481)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Update DW service in Staging (#482)
  gl/values-stage.yaml
Labels: greenlight, nonprod

inc-234 hotfix (#483)
  gl/values-prod.yaml
Labels: greenlight, prod

updated stage server-api version (#484)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Add message to failed deployment slack messages (#473)
  .github/script/cmd/on-deployed.ts
Labels: ci

Update values-prod.yaml (#486)
  gl/values-prod.yaml
Labels: greenlight, prod

Re-enable autosync in ops (#443)
  operations/values.yaml
Labels: operations

Fix ArgoCD-Diff wrong version of helm being used (#487)
  .github/workflows/argo-cd-diff.yaml
Labels: ci

CHORE: deploy am to staging (#485)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Check for collaborator before adding as a reviewer (#490)
  .github/script/cmd/changelog.ts
  .github/script/lib/github.ts
Labels: ci

Upgrade gift-service version (#493)
  gl/values-stage.yaml
Labels: greenlight, nonprod

update stage value (#491)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Upgrade stage stargateway to 1.0.696-14a4901 (#498)
  gl/values-stage.yaml
Labels: greenlight, nonprod

bump am in qa (#500)
  gl/values-qa.yaml
Labels: greenlight, nonprod

update webreg in staging (#501)
  gl/values-stage.yaml
Labels: greenlight, nonprod

updated values-prod.yaml (#503)
  gl/values-prod.yaml
Labels: greenlight, prod

Upgrade stage stargateway 1.0.700-8bd40a8 (#504)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Update values-qa.yaml (#505)
  gl/values-qa.yaml
Labels: greenlight, nonprod

Update Commander Prod to 318 (#507)
  gl/values-prod.yaml
Labels: greenlight, prod

.github/labeler.yml:

greenlight:
  - common/**/*
  - gl/**/*

krona:
  - common/**/*
  - krona/**/*

operations:
  - common/**/*
  - operations/values.yaml

nonprod:
  - common/**/*
  - gl/values.yaml
  - gl/values-dev.yaml
  - gl/values-platdev.yaml
  - gl/values-qa.yaml
  - gl/values-stage.yaml
  - krona/values.yaml
  - krona/values-devinternal.yaml
  - krona/values-qainternal.yaml
  - krona/values-dev.yaml
  - krona/values-qa.yaml
  - krona/values-qa2.yaml
  - krona/values-perf.yaml

prod:
  - common/**/*
  - gl/values.yaml
  - gl/values-prod.yaml
  - krona/values.yaml
  - krona/values-uat.yaml
  - krona/values-prod.yaml

ci:
  - .github/**/*
