Repository ShaniecePinnockGL/argocd-app, changes with the labels that .github/labeler.yml gives for each.
All labels: greenlight, krona, nonprod, prod, ci

ArgoCD App Diff Misc Fixes (#330)
  .github/scripts/cmd/argodiff.ts
  .github/scripts/cmd/changelog.ts
  .github/scripts/library/argo.ts
  .github/scripts/library/github.ts
  .github/scripts/library/helm.ts
Labels: ci

Update drift.ts
  .github/scripts/cmd/drift.ts
Labels: ci

chore(krona/perf): Remove YK agent again (ARCH-200) (#332)
  krona/values-perf.yaml
Labels: krona, nonprod

Update drift.ts
  .github/scripts/cmd/drift.ts
Labels: ci

Deploy webreg to staging (#333)
  gl/values-stage.yaml
Labels: greenlight, nonprod

deploy hotfix to stage (#335)
  gl/values-stage.yaml
Labels: greenlight, nonprod

chore: update account-history qainternal (#334)
  krona/values-qainternal.yaml
Labels: krona, nonprod

prod deploy (#338)
  gl/values-prod.yaml
Labels: greenlight, prod

update values-prod.yaml (#337)
  gl/values-prod.yaml
Labels: greenlight, prod

update stage v0.19.0 (#339)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Update commander QA to v2.0.280 (#336)
  gl/values-qa.yaml
Labels: greenlight, nonprod

chore: update acct-hist qa2 (#340)
  krona/values-qa2.yaml
Labels: krona, nonprod

update server-api and AM on staging (#342)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Remove current env from changelog report [TOOLS-90] (#343)
  .github/scripts/cmd/changelog.ts
Labels: ci

Support team-specific drift notifications [SRE-1161] (#341)
  .github/scripts/cmd/drift.ts
  .github/service-owners.yml
Labels: ci

Swapped lead and lag
  .github/scripts/cmd/drift.ts
Labels: ci

Update values-stage.yaml (#345)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Production Deployment for registration service (#346)
  gl/values-prod.yaml
Labels: greenlight, prod

deploy sgw to stage for msb (#347)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Update invest-profile in staging (#307)
  gl/values-stage.yaml
Labels: greenlight, nonprod

feat: replace default subscriptions (#344)
  gl/values-prod.yaml
  gl/values-stage.yaml
  krona/values.yaml
  operations/values.yaml
Labels: greenlight, krona, nonprod, prod

chore(deploy): Deploy inbound-auth to stage for MSB (#349)
  gl/values-stage.yaml
Labels: greenlight, nonprod

hotfix: update cobrand and graphql for GRAM-498 issue (#350)
  krona/values-qa2.yaml
Labels: krona, nonprod

Deploy Commander 281 to Prod (#306)
  gl/values-prod.yaml
Labels: greenlight, prod

ci: krona-deploy-uat-06172021 (#353)
  krona/values-uat.yaml
Labels: krona, prod

.github/labeler.yml:

greenlight:
- gl/*

krona:
- krona/*

nonprod:
- gl/values-dev.yaml
- gl/values-platdev.yaml
- gl/values-qa.yaml
- gl/values-stage.yaml
- krona/values-devinternal.yaml
- krona/values-qainternal.yaml
- krona/values-dev.yaml
- krona/values-qa.yaml
- krona/values-qa2.yaml
- krona/values-perf.yaml

prod:
- gl/values-prod.yaml
- krona/values-prod.yaml
- krona/values-uat.yaml

ci:
- .github/**/*
