Repository ShaniecePinnockGL/argocd-app, changes with the labels that .github/labeler.yml gives for each.
All labels: greenlight, krona, operations, nonprod, prod, ci

Update server-api in prod (#387)
  gl/values-prod.yaml
Labels: greenlight, prod

Update Sealed Secret in us-east-2 staging for gremlin (#402)
  gl/values-stage.yaml
Labels: greenlight, nonprod

chore: update acct-hist in perf (#403)
  krona/values-perf.yaml
Labels: krona, nonprod

chore: update acct-hist qa2 (#404)
  krona/values-qa2.yaml
Labels: krona, nonprod

Application name should use project not namespace (#401)
  common/templates/application.yaml
  operations/values.yaml
Labels: operations

Handle the case where project name equals domain (#406)
  common/templates/application.yaml
Labels: none

Update invest
  gl/values-stage.yaml
Labels: greenlight, nonprod

Push new Invest versions to QA (#408)
  gl/values-qa.yaml
Labels: greenlight, nonprod

Bump Invest service version in Stage/QA (#410)
  gl/values-stage.yaml
Labels: greenlight, nonprod

feat: add deployment api and slack notifications (#383)
  .github/script/.editorconfig
  .github/script/.eslintignore
  .github/script/.gitignore
  .github/script/.node-version
  .github/script/.npmrc
  .github/script/cmd/argodiff.ts
  .github/script/cmd/changelog.ts
  .github/script/cmd/drift.ts
  .github/script/cmd/on-deploy.ts
  .github/script/lib/argo.ts
  .github/script/lib/common.ts
  .github/script/lib/git.ts
  .github/script/lib/github.ts
  .github/script/lib/helm.ts
  .github/script/lib/slack.ts
  .github/script/lib/util.ts
  .github/script/package-lock.json
  .github/script/package.json
  .github/script/tsconfig.json
  .github/service-owners.yaml
  .github/slack-channels.yaml
  .github/workflows/argo-cd-diff.yaml
  .github/workflows/drift-notifier.yaml
  .github/workflows/go-build-lint.yaml
  .github/workflows/on-deploy.yaml
  .github/workflows/typescript-build-lint.yaml
Labels: ci

Bump Invest version in qa (#411)
  gl/values-qa.yaml
Labels: greenlight, nonprod

chore: update workflow to use self-hosted (#412)
  .github/script/cmd/on-deployed.ts
  .github/script/package.json
  .github/workflows/on-deploy.yaml
Labels: ci

feat: create proper deployment status (#413)
  .github/script/cmd/on-deployed.ts
Labels: ci

feat: update subscriptions, give more info around on-deployed (#414)
  .github/script/cmd/on-deployed.ts
  .github/script/lib/github.ts
  .github/slack-channels.yaml
  gl/values-prod.yaml
  gl/values-stage.yaml
  krona/values.yaml
  operations/values.yaml
Labels: greenlight, krona, operations, nonprod, prod, ci

krona-prod switch account-history to v2 tables (#407)
  krona/values-prod.yaml
Labels: krona, prod

fix: disable auto-merge with deployments api (#415)
  .github/script/cmd/on-deployed.ts
  .github/script/lib/argo.ts
  .github/script/lib/github.ts
  common/templates/application.yaml
Labels: ci

.github/labeler.yml:

greenlight:
  - gl/*

krona:
  - krona/*

operations:
  - operations/values.yaml

nonprod:
  - gl/values.yaml
  - gl/values-dev.yaml
  - gl/values-platdev.yaml
  - gl/values-qa.yaml
  - gl/values-stage.yaml
  - krona/values.yaml
  - krona/values-devinternal.yaml
  - krona/values-qainternal.yaml
  - krona/values-dev.yaml
  - krona/values-qa.yaml
  - krona/values-qa2.yaml
  - krona/values-perf.yaml

prod:
  - gl/values.yaml
  - gl/values-prod.yaml
  - krona/values.yaml
  - krona/values-uat.yaml
  - krona/values-prod.yaml

ci:
  - .github/**/*
