Repository ShaniecePinnockGL/argocd-app, changes with the labels that .github/labeler.yml gives for each.
All labels: greenlight, krona, operations, nonprod, prod, ci

.github/labeler.yml:

greenlight:
  - common/**/*
  - gl/**/*

krona:
  - common/**/*
  - krona/**/*

operations:
  - common/**/*
  - operations/values.yaml

nonprod:
  - common/**/*
  - gl/values.yaml
  - gl/values-dev.yaml
  - gl/values-platdev.yaml
  - gl/values-qa.yaml
  - gl/values-stage.yaml
  - krona/values.yaml
  - krona/values-devinternal.yaml
  - krona/values-qainternal.yaml
  - krona/values-dev.yaml
  - krona/values-qa.yaml
  - krona/values-qa2.yaml
  - krona/values-perf.yaml

prod:
  - common/**/*
  - gl/values.yaml
  - gl/values-prod.yaml
  - krona/values.yaml
  - krona/values-uat.yaml
  - krona/values-prod.yaml

ci:
  - .github/**/*

chore: update Slack channels (#421)
  .github/slack-channels.yaml
Labels: ci

Update values-prod.yaml (#409)
  gl/values-prod.yaml
Labels: greenlight, prod

add rate limiter to app diffs to prevent OOM and CPU spikes (#419)
  .github/script/cmd/argodiff.ts
  .github/script/package-lock.json
  .github/script/package.json
Labels: ci

Update values-dev.yaml (#422)
  gl/values-dev.yaml
Labels: greenlight, nonprod

Revert "Update values-dev.yaml (#422)" (#423)
  gl/values-dev.yaml
Labels: greenlight, nonprod

chore: remove argo-cd-tool (#424)
  operations/values.yaml
Labels: operations

Bump commander qa version to 2.0.299 (#425)
  gl/values-qa.yaml
Labels: greenlight, nonprod

Update values-qa.yaml (#426)
  gl/values-qa.yaml
Labels: greenlight, nonprod

Bump commander qa version to 2.0.302 (#427)
  gl/values-qa.yaml
Labels: greenlight, nonprod

Bump commander qa version to 2.0.302-13938f4 (#428)
  gl/values-qa.yaml
Labels: greenlight, nonprod

ci: Add all change authors as approvers to the PR [TOOLS-109] (#391)
  .github/script/cmd/changelog.ts
  .github/script/lib/github.ts
  .github/workflows/pr-changelog.yaml
Labels: ci

Bump invest in Stage (#429)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Auto-approve bot authors (#430)
  .github/script/cmd/changelog.ts
Labels: ci

deploy latest stargateway to staging (#432)
  gl/values-stage.yaml
Labels: greenlight, nonprod

feat: add environment URL for Deployments (#433)
  .github/script/cmd/on-deployed.ts
  .github/script/lib/github.ts
Labels: ci

chore: Bump Feature Toggles version (#435)
  gl/values-prod.yaml
Labels: greenlight, prod

deploy latest version of server-api to stage (#431)
  gl/values-stage.yaml
Labels: greenlight, nonprod

updated commander version for prod release (#434)
  gl/values-prod.yaml
Labels: greenlight, prod

chore: update spending-rules in perf (#437)
  krona/values-perf.yaml
Labels: krona, nonprod

Require authors approval to merge into in gl-prod [TOOLS-110] (#400)
  .github/script/cmd/require-all-reviewers.ts
  .github/script/package-lock.json
  .github/script/package.json
  .github/workflows/require-all-reviewers.yaml
Labels: ci

Invest service deployments (#416)
  gl/values-prod.yaml
Labels: greenlight, prod

release/msb-stage (#438)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Update SGW and Invest Profile in Stage (#436)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Add logging for on-deployed slack responses (#440)
  .github/script/cmd/on-deployed.ts
Labels: ci

Fix slack channel logic and refactor yaml (#441)
  .github/script/cmd/on-deployed.ts
  .github/slack-channels.yaml
Labels: ci

Revert "Invest service deployments (#416)" (#444)
  gl/values-prod.yaml
Labels: greenlight, prod

Invest deploy with patch (#445)
  gl/values-prod.yaml
Labels: greenlight, prod

Update values-qa.yaml (#446)
  gl/values-qa.yaml
Labels: greenlight, nonprod

Add an ignore for CronJob's suspend (#442)
  common/templates/application.yaml
  gl/values-prod.yaml
  gl/values-stage.yaml
Labels: greenlight, krona, operations, nonprod, prod

ci: temp slack channel change (#447)
  .github/slack-channels.yaml
Labels: ci

Release/msb stage 1 (#448)
  gl/values-stage.yaml
Labels: greenlight, nonprod

ci: update slack attachments (#449)
  .github/script/cmd/on-deployed.ts
  .github/script/lib/slack.ts
Labels: ci

msb-bug-fix (#450)
  gl/values-stage.yaml
Labels: greenlight, nonprod

deploy latest server-api to prod (#439)
  gl/values-prod.yaml
Labels: greenlight, prod

Bump reg service stage version. (#451)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Update slack-channels.yaml (#453)
  .github/slack-channels.yaml
Labels: ci

ci: update slack attachments (#455)
  .github/script/cmd/on-deployed.ts
  .github/script/lib/slack.ts
Labels: ci

updated prod commander version (#454)
  gl/values-prod.yaml
Labels: greenlight, prod

msb part 1 million? (#456)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Update values-prod.yaml (#457)
  gl/values-prod.yaml
Labels: greenlight, prod
