Repository ShaniecePinnockGL/argocd-app, changes with the labels that .github/labeler.yml gives for each.
All labels: greenlight, krona, operations, nonprod, prod, ci

chore: Account history remove support for v1 tables [GLPS-1269] (#495)
  krona/values-devinternal.yaml
Labels: krona, nonprod

add feature-breaker service to dev (#508)
  gl/values-dev.yaml
Labels: greenlight, nonprod

upgrade server-api QA to v3.7.1427-e4a6804 (#509)
  gl/values-qa.yaml
Labels: greenlight, nonprod

add feature-breaker service to stage (#510)
  gl/values-stage.yaml
Labels: greenlight, nonprod

bump version stage (#511)
  gl/values-stage.yaml
Labels: greenlight, nonprod

server api qa revert (#512)
  gl/values-qa.yaml
Labels: greenlight, nonprod

chore: demo-ing how to create a redis (#513)
  operations/values.yaml
Labels: operations

deploy latest user-action to staging (#517)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Bump webreg to 1.0.952 in stage. (#516)
  gl/values-stage.yaml
Labels: greenlight, nonprod

Revert "chore: demo-ing how to create a redis (#513)" (#514)
  operations/values.yaml
Labels: operations

Bump up inbound-auth in staging to 0.8.0-develop.29 (#518)
  gl/values-stage.yaml
Labels: greenlight, nonprod

server-api QA to 3.7.1435-a7e274d (#519)
  gl/values-qa.yaml
Labels: greenlight, nonprod

Bump webreg to 1.0.952 in prod. (#515)
  gl/values-prod.yaml
Labels: greenlight, prod

deploy server-api to production for hotfix at tag 3.7.1435 (#520)
  gl/values-prod.yaml
Labels: greenlight, prod

Update user action to v1.32.0-c4e9c07
  gl/values-stage.yaml
Labels: greenlight, nonprod

.github/labeler.yml:

greenlight:
  - common/**/*
  - gl/**/*

krona:
  - common/**/*
  - krona/**/*

operations:
  - common/**/*
  - operations/values.yaml

nonprod:
  - common/**/*
  - gl/values.yaml
  - gl/values-dev.yaml
  - gl/values-platdev.yaml
  - gl/values-qa.yaml
  - gl/values-stage.yaml
  - krona/values.yaml
  - krona/values-devinternal.yaml
  - krona/values-qainternal.yaml
  - krona/values-dev.yaml
  - krona/values-qa.yaml
  - krona/values-qa2.yaml
  - krona/values-perf.yaml

prod:
  - common/**/*
  - gl/values.yaml
  - gl/values-prod.yaml
  - krona/values.yaml
  - krona/values-uat.yaml
  - krona/values-prod.yaml

ci:
  - .github/**/*
